.card {
  height: 20em;
  font-family: var(--font-mono);
  display: flex;
  a {
    img {
      --s: 15em;
      --b: 8px;
      --g: 14px; /* the gap */
      --c: #4ecdc4; /* the color */
      width: var(--s);
      height: var(--s);
      border-radius: 0.5vw;
      object-fit: cover;
      aspect-ratio: 1;
      outline: calc(var(--s) / 2) solid #0009;
      outline-offset: calc(var(--s) / -2);
      cursor: pointer;
      transition: 0.3s;
    }
    img:hover {
      outline: var(--b) solid var(--c);
      outline-offset: var(--g);
    }
  }
}
