#about {
    height: 95vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px 20vw;
}

.title {
    color : var(--green);
    font-size: 1.2rem;
    margin-left: 5px;
    animation-name: enter;
    animation-duration: 1s;
    animation-duration: leaner;
    animation-delay: 0.2s;
}

#about span {
    color : var(--gray-tint);
    font-size: 2rem;
}

#about p span {
    color : var(--gray-tint);
    font-size: 1.5rem;
}

#about p strong {
    color : var(--gray-tint);
    font-size: 1.1rem
}
.inner-text {
    text-align: start;
    margin-right: 5vw;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-wrap img {
    width: 10vw;
}
.img-wrap {
    width: 10vw;
    padding: 1vw;
    border : 1px solid var(--green);
    transition: all 0.1s;
    opacity: 0.7;
}

.img-wrap:hover {
    width: 10vw;
    padding: 1vw - 4px;
    border : 3px solid var(--green);
    opacity: 1;
}
