
#animation-view {
    margin-top: 5vh;
    height: 30vh;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
}

.ball {
    position: relative;
    width: 1vh;
    height: 1vh;
    border-radius: 1vh;
    border : 1px solid var(--green);
    bottom: 2vh;
    animation-name: moveBall;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.person {
    position: relative;
    width: 2vh;
    height: 3vh;
    border : 1px solid var(--green);
    left: 5vh;
}

.bug {
    position: relative;
    width: 5vh;
    height: 7vh;
    background-color: black;
    animation-name: moveBug;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moveBall {
    from {
        left : 10%
    }
    to {
        left: 70%;
    }
}

@keyframes moveBug {
    from {
        left : 120%
    }
    to {
        left: 67%;
    }
}