
.card {
    width: 15vw;
    height: 15vw;
    border-radius: 0.5vw;
    font-family: var(--font-mono);
    overflow: hidden;
    min-width: 17em;
    min-height: 17em;
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}

.card-content {
    border-radius: 0.5vw;
    background-color: var(--white);
    min-width: 17em;
}

.card img {
    min-width: 17em;
    min-height: 17em;
    border-radius: 0.5vw;
    object-fit: cover;
}

.card h2 {
    margin : 0;
    padding : 0.3em;
    font-size: 1.5em;
    font-family: sans-serif;
}

.card-content h5 {
    text-align: left;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 0.7em;
}
.card p {
    margin: 0;
    color : black;
    display: -webkit-box;
    -webkit-line-clamp: 9 ;
    white-space: normal;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding : 1em;
    font-size: 0.7em;
}

.contribution-ul {
    margin: 0.5em 0px;
    list-style: none;
    overflow: auto;
}

.stack-ul {
    list-style: none;
    overflow: auto;

}

.contribution-ul li {
    font-family: sans-serif;
    font-size: 0.7em;
    margin : 0;
    padding : 0;
}

.stack-ul li {
    font-size: 0.7rem;
    padding: 0.2vw;
    border: 1px solid var(--green);
    margin-right: 3px;
    border-radius: 1vw;
    margin-top: 4px;
}