#contact {
    padding-top: 10vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px 20vw;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info {
    width: 50%;
}



.contact-content h1 {
    color : var(--green)
}

.contact-info button {
    padding: 10px;
    border : transparent
}

.contact-info img {
    width: 30px;
}

.mail-form {
    display: flex;
    flex-direction: column;
}

.mail-form label {
    color : var(--white);
    margin : 10px 0px;
    text-align: start;
}

.send-btn {
    background: transparent;
    border : 1px solid var(--green);
    color : var(--green);
    width: 10vw;
    padding : 10px;
    margin : auto
}

.mail-form input {
    border-radius: 5px;
    transition: all 0.25s;
}

.mail-form input:hover {
    background-color: var(--green-tint);
}

.mail-form textarea {
    width: 20vw;
    height: 10vh;
    border-radius: 5px;
    margin-bottom: 20px;
}
