#contact {
    padding-top: 10vh;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px 20vw;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info {
    width: 50%;
}

.mail-form {
    display: flex;
    flex-direction: column;
}

.contact-content h1 {
    color : var(--green)
}

.contact-info button {
    padding: 10px;
    border : transparent
}

.contact-info img {
    width: 30px;
}