#experience {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px 20vw;
}

.title {
    color : var(--green);
    font-size: 1.2rem;
    margin-left: 5px;
    animation-name: enter;
    animation-duration: 1s;
    animation-duration: leaner;
    animation-delay: 0.2s;
}

#experience span {
    color : var(--gray-tint);
    font-size: 2rem;
}

#experience p span {
    color : var(--gray-tint);
    font-size: 1.5rem;
}

#experience p strong {
    color : var(--gray-tint);
    font-size: 1.1rem
}
.inner-text {
    text-align: start;
    margin-right: 5vw;
}

.card-wrap {
    display: flex;
}
