.App-bar {
  position: sticky;
  display: block;
  -webkit-box-pack: justify;
  justify-content: center;
  align-items: center;
  padding : 10px 0px 10px;
  box-shadow: 0 10px 30px -10px;
  display: flex;
  top: 0;
  z-index: 999;
  overflow: hidden;
  background-color: var(--dark-gray); 
  animation-name: enter;
  animation-duration: 1s;
  animation-duration: leaner;
}
ol {
  list-style: none;
  margin:0;
  padding:0;
  counter-reset: menu_item;

  width : 30vw
}
li {
  margin: 0 0 0 0 ;
  padding: 15px;
  border: 0;
  float : left;
  animation-name: enter;
  animation-duration: 1s;
  animation-duration: leaner;
}
ol li a::before {
  counter-increment: menu_item;
  content: "0" counter(menu_item) ".";
  margin-right: 3px;
  color: var(--green);
  font-size: var(--fz-xxs);
  text-align: right;
}

ol li a {
  cursor: pointer;
  color: aliceblue;
  font-size: 0.8rem;
}
.resume-btn {
  position: absolute;
  height: 70%;
  margin: 0 0 0 0 ;
  padding: 1rem 1.2rem 1.2rem 1rem;
  border: 1px solid var(--green);
  float: left;
  color:var(--green);
  background : transparent;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-left: 1vw;
  margin-right: 1vw;
  animation-name: enter;
  animation-duration: 1s;
  animation-duration: leaner;
  right: 0;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.App-link {
  color: #61dafb;
}
.top-menu-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


