#work {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 20vw;
}

#work h2 {
  color: var(--gray-tint);
  font-family: sans-serif;
}

#work h3 {
  color: var(--gray-tint);
  font-family: sans-serif;
}

.title {
  color: var(--green);
  font-size: 1.2rem;
  margin-left: 5px;
  animation-name: enter;
  animation-duration: 1s;
  animation-duration: leaner;
  animation-delay: 0.2s;
}
.work-block {
  text-align: start;
  margin-left: 1vw;
  transition: all 0.25s;
  padding-left: 1vw;
}

.work-block:hover {
  background-color: var(--green-tint);
}
.arccodion-header {
  cursor: pointer;
  width: 56vw;
  margin-right: 1vw;
}
.title span {
  color: var(--gray-tint);
  font-size: 2rem;
  font-family: var(--font-mono);
}
.detail-block {
  transition: all 0.25s;
}
.span-date {
  color: var(--green);
  font-family: var(--font-mono);
  font-size: 1rem;
}

.arccodion-arrow {
  position: relative;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: 1rem;
  float: right;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#first-arrow.rotated {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#seconed-arrow.rotated {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#work p strong {
  color: var(--gray-tint);
  font-size: 1.1rem;
}
.inner-text {
  text-align: start;
  margin-right: 5vw;
}

.work-info {
  text-align: start;
  color: var(--gray-tint);
  padding-bottom: 10px;
  line-height: 1.4;
}

#work p span {
  color: var(--gray-tint);
  font-weight: 600;
}

.tag-info {
  display: flex;
}
