.App {
  text-align: center;
  background-color: var(--dark-gray);
  font-family: var(--font-mono);
  position : relative;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
hr {
  display: none;
}
#left_aside {
  width: 10rem;
  position: fixed;
  height: 100vh;
}

#right_aside {
  width: 10rem;
  position: fixed;
  height: 100vh;
  right: 0;
}

::-webkit-scrollbar {
  width : 0.5vw
}
::-webkit-scrollbar-track {
  background-color: #282c34;
}
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}
#contents {
  width: 100%;
  z-index: 1;
}

#footer {
  height: 10vh;
}

button {
  padding: 1rem;
  border: 1px solid var(--green);
  color:var(--green);
  background : transparent;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-top: 3rem;
  transition: all 0.25s;
}

button:hover {
  background-color: var(--green-tint);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes enter {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity : 1
  }
}